@import "tailwindcss";

@theme {
  --font-heading: "Open Sans Condensed", system-ui, sans-serif;
  --font-body: "Open Sans", system-ui, sans-serif;

  --color-pagebg: #FFF8E7;
  --color-heading: rgb(19, 19, 19);
  --color-bodytext: rgb(56, 56, 56);
}

body {
  @apply bg-pagebg font-body text-bodytext;
}