@import "tailwindcss";

@theme {
  --font-heading: "Open Sans Condensed", system-ui, sans-serif;
  --font-body: "Open Sans", system-ui, sans-serif;

  --color-pagebg: #FFFBE8;
  --color-heading: #322C0C;
  --color-bodytext: rgb(56, 56, 56);
}

body {
  @apply bg-pagebg font-body text-bodytext;
}